[Unit]
Description=Gunicorn instance to serve the Azure Flask App
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/var/www/app_azure
ExecStart=/var/www/app_azure/.venv/bin/gunicorn --workers 4 --bind unix:/var/www/app_azure/azure.sock app:app
[Install]
WantedBy=multi-user.target