[Unit]
Description=Gunicorn instance to serve the Azure Flask App
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/var/www/app_azure
ExecStart=/var/www/app_azure/.venv/bin/gunicorn --workers 4 --bind 0.0.0.0:5001 app:app

[Install]
WantedBy=multi-user.target